
.vs/IMB_Data_Processing/FileContentIndex/009cff3c-6129-4eea-8f56-4f84bc3c6d30.vsidx

.vs/IMB_Data_Processing/FileContentIndex/7bfe71c4-4961-48b6-a9de-f20ad086df08.vsidx

.vs/IMB_Data_Processing/v17/.suo

.vs/IMB_Data_Processing/v17/DocumentLayout.backup.json

.vs/IMB_Data_Processing/v17/DocumentLayout.json

bin/Debug/IMB_Data_Processing.exe

bin/Debug/IMB_Data_Processing.exe.config

bin/Debug/IMB_Data_Processing.pdb

IMB_Data_Processing.csproj.user

obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs

obj/Debug/DesignTimeResolveAssemblyReferences.cache

obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

obj/Debug/IMB_Data_Processing.csproj.AssemblyReference.cache

obj/Debug/IMB_Data_Processing.csproj.CoreCompileInputs.cache

obj/Debug/IMB_Data_Processing.csproj.FileListAbsolute.txt

obj/Debug/IMB_Data_Processing.exe

obj/Debug/IMB_Data_Processing.pdb
